{% extends "header.html" %}
{% block content %}
     <h1>{{ header }}</h1>
     <table class="dirlist">
       <tr>
          <th>Path</th>
          <th>Size on disk</th>
          <th>Modification time</th>
       </tr>
       {% if parent %}
       <tr>
           <td class="directory">
               <!--<a href="/explore/{{parent}}">-->
               <a href="/explore/">
                   ..
               </a>
           </td><td /> <td />
       </tr>
       {% endif %}

       {% for item in file_info_list %}
       <tr>
          <td class="file"> {{item.name}} </td>
          <td> {{ item.size }} </td>
          <td> {{ item.time_str }} </td>
          <td> <a href="/explore/{{item.path}}">view</a></td>
       </tr>
       {% endfor %}

       {% for item in dir_info_list %}
       <tr>
          <td class="directory">
              <a href="/explore/{{item.path}}">
                  {{item.name}}/
              </a>
          </td>
          <td> {{ item.size }} MB </td>
          <td> {{ item.time_str }} </td>
          <td> <a class="download" href="/download/{{item.path}}?dl={{item.name}}"
                  download="{{item.name}}.zip">download</a></td>
       </tr>
       {% endfor %}
     </table>
{% endblock %}
